.header__nav {
  display: flex;
  overflow: hidden;
}

.header__logo {
  flex: 1; /* gives the ability to expand how much ever it needs to */
  display: flex;
  position: relative;
  padding: 20px;
}

.header__logo-overlay {
  position: absolute; /* not bound to the other elements of the page */
  inset: 0;
  width: 100%;
  background-color: var(--primary-color);
  z-index: 1;
}

.header__logo h4 {
  padding-left: 30px;
  color: #fff;
}
